<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Admin_Pdv_Lauren.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Admin_Pdv_Lauren.Properties.Settings>
            <setting name="Admin_Pdv_Lauren_WS_Pool1_WS_Rem_File_PDV" serializeAs="String">
                <value>http://10.62.250.220:8585/WS_Rem_File_PDV.asmx</value>
            </setting>
        </Admin_Pdv_Lauren.Properties.Settings>
    </applicationSettings>
</configuration>